<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROFILE</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <td>Usuario</td>
                <td>Password</td>
                <td>Email</td>
                <td>Operations</td>
            </tr>
        </thead>
        <tbody>
            {% for user in user %}
            <tr>
                <td>{{ user.1 }}</td>
                <td>{{ user.2 }}</td>
                <td>{{ user.3 }}</td>
                <td>
                    <a href="/edit/{{ user.0 }}">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>